@import "../../../../variables/variables";

.detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 95vh;
  background: $auth-bg;
  .description {
    word-break: break-all;
    font-size: 1rem;
  }
  .archived-tasks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    .archived-task {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: fit-content;
      padding: 1rem;
      box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.4);
      &__info {
        max-width: 70%;
        height: fit-content;
        &-name {
          width: 100%;
          height: fit-content;
          word-wrap: break-word;
        }
      }
      .buttons {
        width: 20%;
        display: flex;
        gap: 2rem;
        button {
          background: none;
          border: none;
          cursor: pointer;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
