.task-modal {
  width: 100%;
  background: #fff;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  .task__name {
    border: none;
    background: #898989;
    font-size: 1rem;
    padding: 0.5rem;
    width: 70%;
    min-height: 3rem;
    resize: vertical;
  }
  .buttons {
    width: 30%;
    display: flex;
    gap: 0.5rem;
    button {
      background: none;
      border: none;
      cursor: pointer;
      height: 100%;
      width: 50%;
      font-size: 1.2rem;
    }
  }
}
