@import "../../../variables/variables";

.page404 {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $auth-bg;
  p {
    font-size: 1.2rem;
    font-weight: 700;
  }
  a {
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #5d6225;
  }
}
