@import "../../../../variables/variables";

.dashboard {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100%;
  background: $auth-bg;
  .boards {
    padding: 3rem;
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem 3rem;
      height: 100%;
    }
  }
}
