@import "../../../variables/variables";

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &-inner {
    position: relative;
    background: $auth-bg;
    width: 40vw;
    height: 60vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      cursor: pointer;
      background: none;
      font-size: 1.4rem;
      border: none;
      transition: all 0.3s ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
