@import "../../../variables/variables";

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  min-height: 6rem;
  padding: 1rem 2rem;
  background: #c0c0c0;
  .open {
    margin-left: 1rem;
    border: none;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    background: none;
    color: #8d8d8d;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__title {
    color: #8d8d8d;
  }
  &__search-panel {
    display: flex;
    column-gap: 1rem;
    .search {
      border: none;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
    }
    .add,
    .delete {
      border: none;
      background: #8d8d8d;
      font-size: 1.2rem;
      padding: 0.5rem;
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        opacity: 0.6;
      }
    }
    .delete {
      background: #b72d2d;
    }
  }
  .filter,
  .direction {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    outline: none;
  }
  .modal-description {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 50%;
      background: #fff;
      .close {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
      }
      .description {
        font-size: 1rem;
        word-break: break-all;
        padding: 1rem;
      }
    }
  }
}
