.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  background: #fff;
  padding: 0.5rem;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  &.invisible {
    opacity: 0.7;
  }
  button {
    width: 15%;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
  }
  .change {
    width: 10%;
  }
  img {
    height: 100%;
    width: 100%;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 1rem;
    width: 10%;
    button {
      width: 100%;
    }
  }
  &__info {
    height: min-content;
    max-width: 80%;
    &-name {
      max-width: 80%;
      word-wrap: break-word;
      &_active {
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem;
        min-height: 3rem;
        resize: vertical;
        overflow: hidden;
        border: none;
        background: #898989;
      }
    }
    &-comments {
      margin-top: 1rem;
      font-size: 1rem;
      color: #6e6e6e;
      cursor: pointer;
    }
    &-date {
      font-size: 1rem;
      margin-top: 0.5rem;
      font-weight: 400;
    }
  }
}
