:host {
  width: 100%;
}

.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.5rem;
  gap: 1rem;
  height: 60%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.5rem;
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background: #000000;
  }
  .comment {
    display: flex;
    background: #b8b8b8;
    padding: 0.5rem;
    &__info {
      width: 80%;
      &-text {
        word-break: break-all;
        margin-bottom: 1rem;
      }
    }
    .delete-comment {
      margin-left: auto;
      background: none;
      border: none;
      cursor: pointer;
      width: 5%;
      height: 100%;
    }
  }
}
.add {
  background: #6ce772;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 80%;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 1rem;
  &:hover {
    opacity: 0.7;
  }
}
.add-comment {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  justify-content: space-between;
  margin-top: 1rem;
  input {
    border: none;
    background: #a0a0a0;
    padding: 0.5rem;
    font-size: 1rem;
    width: 70%;
  }
  .add-comment-btn {
    background: none;
    border: none;
    width: 10%;
    cursor: pointer;
  }
  .close-add {
    background: none;
    border: none;
    font-size: 1.2rem;
    width: 10%;
    cursor: pointer;
  }
}
